<h1 class='text-center'>{{createSign}}</h1>
<form action method id="nocn_sign_form" class="nocn-border">
    <h1 class="text-center">{{drawSign}}</h1>
    <div class="text-center">
        <h4 class="text-center text-error" id="sign_error_text"></h4>
        <h4 class="text-center text-success" id="sign_success_text"></h4>
        <canvas height="200px" width="500px" class="nocn-border" id="sign_canvas"></canvas><br>
        <button type="button" class="btn-primary btn" id="sign_clear">{{clear}}</button>
        <button type="submit" class="btn-primary btn">{{submit}}</button>
    </div>
</form>